*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    background-color: black;
}

.container{
    background-color: white;
    border: 1px solid black;
    width: 60%;
    min-height: 600px ;
    margin: 0px auto;
    

}