.containerBuscaCep{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    min-height: 300px;
    border: 1px solid yellow;
    color: yellow;
    gap: 10px;
}
.dadosBuscaCep{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
    min-height: 200px;
    padding: 10px;
}