::-webkit-scrollbar{
    width: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    
}

.divUl{

    display: flex;
    flex-direction: column;
    background-color: black;
    width: 60%;
    max-height: 400px;
    margin: 10px auto;
    color: white;
    padding: 10px;
    overflow-y: scroll;
    font-size: 0.8em;
    
}
.divUl ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.divUl input[type="text"]{
    background-color: white;
    color: black;
    margin-left: 10px;
}
.hideLi{
    display: none;
}