.divMenuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 0.8em;
    background-color: rgb(121, 102, 102);
    color: white;
}
.pLogo{
    font-size: 2rem;
    flex: 40%;
}
.linkMenuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 60%;

}
.linkMenuBar span > a{
    color: white;
}
.buscaDados{
    display: flex;
}
.buscaDados input{
    background-color: white;
    padding: 5px;
    color: black;
}
.buscaDados input[type="text"]{
    border-radius: 3px 0px 0px 3px;
}
.buscaDados input[type="button"]{
    border-radius: 0px 3px 3px 0px;
}

@media( max-width: 900px){

    .pLogo{
        display: none;
    }
    .linkMenuBar{
        flex-direction: column;
        gap: 20px;
    }
    .buscaDados{
        flex-direction: column;
        gap: 20px;
    }
    .divMenuBar{
        padding: 20px 
    }
}

@media(max-width: 690px){

    .divMenuBar{
        display: none;
    }

}
