.navLink{

    background-color: rgb(65, 61, 61);
    width: 100%;

}
.ulNavLink{
    display: flex;

}
.ulNavLink li{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    flex: 1;
}
.ulNavLink li:hover{
    color: yellow;
    background-color: rgb(104, 95, 95);
}
.fade{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
    top: 0px;
    left:0px;
    position: absolute;
}
.fadeAbrir{
    display: flex;
}
.modal{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 25% auto;
    color: black;
    overflow: hidden;
    border-radius: 5px;
}
.headerModal{
    display: flex;
    justify-content: space-between;
    background-color: rgb(112, 98, 98);
    width: 100%;
    padding: 5px;

}
.headerModal span, input{
    background-color: transparent;
    color: white;
    padding: 5px 10px;
}
.headerModal span{
    font-size: 1.5rem;
}
.conteudoModal{
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 146, 146);
    padding: 10px;
    gap: 20px;
    flex: 1
}